<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/trysignup" method="post">
    <input type="email" placeholder="e-mail" id ="emailid" required>
    <input type="text" placeholder="Nick Name" id ="nicknameid" required>

    <input type="password" name="password" placeholder="password" id="inputPassword4" required>
    <input type="password" name="confpassword" placeholder="password" id="inputPassword5" required>
    <button type="submit">Sign up</button>
</form>

</body>
</html>